<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Restablecer su contraseña</title>
    </head>
    <body>
        <h1>Restablecer su contraseña</h1>
        <p>Hola {{ user.firstName }},</p>
        <p>Recibimos una solicitud para restablecer su contraseña. Para continuar, copie el siguiente codigo:</p>
        <span>{{code}}</span>
        <p>Si no solicitó este cambio, puede ignorar este correo electrónico y su contraseña permanecerá sin cambios.</p>
        <p>Atentamente,<br>Su equipo de solicitud</p>
    </body>
</html>